{% extends "teacher_dashboard.html" %}

{% block content %}

<div class="container mt-5">

    <h2>Attendance History</h2>

    <div class="row mt-4">

        {% for subject in subjects %}

        <div class="col-md-4 mb-3">

            <div class="card shadow-sm h-100">

                <div class="card-body">

                    <h5>
                        {{ subject.subject_name }}
                    </h5>

                    <p class="mb-1">
                        <strong>Subject Code:</strong>
                        {{ subject.subject_code }}
                    </p>

                    <p class="mb-1">
                        <strong>Course:</strong>
                        {{ subject.course.course_name }}
                    </p>

                    <p class="mb-3">
                        <strong>Semester:</strong>
                        {{ subject.semester }}
                    </p>

                    <a href="{% url 'college:attendance_dates' subject.id %}"
                       class="btn btn-primary">

                        View History

                    </a>

                </div>

            </div>

        </div>

        {% empty %}

        <p class="text-muted">
            No subjects assigned to you.
        </p>

        {% endfor %}

    </div>

</div>

{% endblock %}