{% extends 'teacher_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-4">

<h3>Create Assignment</h3>

<div class="alert alert-info">

    <strong>Subject:</strong>
    {{ subject.subject_name }}

    <br>

    <strong>Course:</strong>
    {{ subject.course.course_name }}

    <br>

    <strong>Semester:</strong>
    {{ subject.semester }}

</div>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit"
            class="btn btn-primary">

        Create Assignment

    </button>

</form>

</div>

{% endblock %}