{% extends 'base.html' %}
{% load group_tags %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow border-0 text-center">

                <div class="card-body p-5">

                    <i class="bi bi-check-circle-fill text-success"
                       style="font-size: 60px;"></i>

                    <h3 class="mt-3">
                        Password Changed Successfully!
                    </h3>

                    <p class="text-muted">
                        Your password has been updated successfully.
                    </p>

                    {% if request.user|has_group:"Teacher" %}

                        <a href="{% url 'college:teacher_dashboard' %}"
                           class="btn btn-primary">
                            Go to Teacher Dashboard
                        </a>

                    {% elif request.user|has_group:"Student" %}

                        <a href="{% url 'college:student_dashboard' %}"
                           class="btn btn-primary">
                            Go to Student Dashboard
                        </a>

{% endif %}

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}