{% extends 'admin_dashboard.html' %}

{% block content %}
<div class="container mt-4">

<h2>Students</h2>

<a href="{% url 'college:student_create' %}" class="btn btn-success mb-3">
    Add Student
</a>

<table class="table table-bordered table-striped">

<tr>

<th>Name</th>

<th>Admission No.</th>

<th>Year</th>

<th>Phone</th>

<th>Department</th>

<th>Actions</th>

</tr>

{% for student in students %}

<tr>

<td>{{ student.user.username }}</td>

<td>{{ student.admission_no }}</td>

<td>{{student.year}}</td>

<td>{{student.phone}}</td>

<td>{{student.department.name}}</td>

<td>

<a href="{% url 'college:student_update' student.id %}" class="btn btn-primary btn-sm">
Edit
</a>

<a href="{% url 'college:student_delete' student.id %}" class="btn btn-danger btn-sm">
Delete
</a>

</td>

</tr>

{% endfor %}

</table>
</div>
{% endblock %}